//
//  Development.xcconfig
//  WhatIdo
//
//  Created by eytsam elahi on 13/01/2026.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

APP_NAME = Yaru-Dev
BUNDLE_IDENTIFIER = com.eytsam.yaruapp.dev
ENVIRONMENT = dev
FIREBASE_PLIST_NAME = GoogleService-dev-Info
GOOGLE_REVERSED_CLIENT_ID = com.googleusercontent.apps.329874699055-03eierhji6fi14c62l1hgj8os6c006ib
